Attack on Titan - Roselia/
Bangarang/
Believer/
Can't Hold Us/
Centipede/
Gangnam Style/
I Expect You to Die/
Im Gonna Be/
Kung Fu Fighting/
Megalovania (Cement City Remix)/
New Dawn/
Rasputin/
Rasputin (Funk Overload)/
Red Like Roses (part 1)/
Running in the 90s/
Sail v2/
Sandstorm/
Six Shooter - Coyote Kisses/
take on me/
Toto - Africa/
TTFAF/
Victorious/
YMCA/